*{
    margin: 0;
    padding: 0;
}
.maindiv{
    background-color: #ecf0f3;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.calculatercontener{
    height: 80%;
    width: 25%;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ffffff,
    5px 5px 12px rgba(0, 0, 0, .16);
}
.inputcontener{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
input{
    height: 70px;
    width: 260px;
    background-color: #ecf0f3;
    border-radius: 30px;
    box-shadow:inset -5px -5px 12px #ffffff,
               inset 5px 5px 12px rgba(0, 0, 0, .16);
    border: none;
    color: rgb(70, 70, 70);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
}
.buttoncontener{
    text-align: center;
}
button{
   height:41px;
   width: 41px;
   margin: 10px;
  background-color: #ecf0f3;
   box-shadow:inset -5px -5px 12px #ffffff,
               inset 5px 5px 12px rgba(0, 0, 0, .16);
               border:none;
               border-radius: 50%;
               margin-top: 4%;
               margin-left: 23px;
               font-size: 20px;
               cursor: pointer;        
}
#equal{
    width: 115px;
    border-radius: 40px;
}